@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
html {
  max-width: 1400px;
  margin: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
html header {
  background-color: #fce0ff;
}
html header a {
  text-decoration: none;
}
html header nav {
  font-weight: 400;
  font-size: 1rem;
  background-color: #fce0ff;
}
html h1, html h2, html h3 {
  font-weight: 700;
  color: black;
}
html h1, html h2, html h3 {
  font-size: 2rem;
}
html h1, html h2, html h3 {
  font-size: 1.5rem;
}
html h1, html h2, html h3 {
  font-size: 1.1rem;
}
html .logo {
  float: left;
  max-width: 10%;
  width: auto;
  height: 50px;
}
html ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
html ul li {
  padding: 0 10px;
  list-style: none;
  text-transform: uppercase;
}
html ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}
html ul li a:hover {
  font-weight: 700;
  color: red;
}
html section {
  min-height: 20em;
}
html footer p {
  border: 3px solid white;
  background-color: #fce0ff;
  min-height: 4em;
  font-size: 0.8rem;
}
html footer div {
  border: 3px solid white;
  background-color: #fce0ff;
  min-height: 4em;
}
html img {
  max-width: 3em;
  width: auto;
  height: 50px;
}